

<%=link_to("<<Back to List",{:action=>'index'})%>
<div>
<h2>Create Pages</h2>
<%= form_for(:section, :url=>{:action => 'create'}) do |f| %>
<%=render(:partial=>"form", :locals=>{:f=>f}) %>
<div>
  <%=submit_tag("create Sections")%>
</div>
<%end%>


</div>
